{% extends 'mainpages/mainpages.layout.html.twig' %}

{% block title %}Producten | Product updaten{% endblock %}
{% block active0 %}active{% endblock %}

{% block body %}
  <h5>Product updaten:</h5>
  <p><span class="badge badge-danger">LET OP</span> <b>Als je dit verandert worden vorige product namen OOK veranderd! </b></p>
  {{ form_start(updateProductForm)}}
  {#{{ form_row(updateProductForm.categorie) }}#}
  {{ form_row(updateProductForm.inkoopprijs) }}
  {{ form_row(updateProductForm.gewicht) }}
  {{ form_row(updateProductForm.adviesprijs) }}
  {{ form_row(updateProductForm.minimaleVoorraad) }}
  <a class="btn btn-danger btn-sm mb-5" href="{{ path('producten') }}"><i class="fas fa-arrow-left"></i> Terug</a>
  <button type="submit" class="btn btn-primary btn-sm mb-5"><i class="fas fa-pen"></i> Updaten</button>
{% endblock %}