{% extends 'layout.html.twig' %}

{% block title %} Bestellingen | Invoeren {% endblock %}

{% block content %}

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <h5>Bestelling invoeren</h5>

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        {{ form_row(form.artikel) }}
        {{ form_row(form.productextra) }}
        {{ form_row(form.aantal) }}
        {{ form_row(form.bedrag) }}
        {{ form_row(form.korting) }}
        {{ form_row(form.extraInfo) }}

        <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> Invoeren</button>

        {{ form_widget(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}

      </div>
    </div>
  </div>

{% endblock %}